@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

img {
    vertical-align: top;
}

h1,
h2,
h4,
h5,
h6 {
    font-weight: inherit;
    font-family: inherit;
}

.
html,
body {
    height: 100%;
    line-height: 1;
}

body {
    font-family: 'Comfortaa', cursive;
    line-height: 30px;
    font-size: 15px;
}

/*Общие стили*/
.title {
    font-weight: 700;
    font-size: 3.7vh;
    line-height: 6.1vh;
    margin-top: 57px;
}

/****************/
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    display: block;
}

main {
    flex: 1 1 auto;
}


.header {
    background: rgba(0, 0, 0, 0.25);
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    width: 100%;
    z-index: 2;
}


.header__language__btn {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 18px 40px 18px 0;
}

.header__language__text {
    color: white;
    text-decoration: underline;
}

.header__menu {
    display: flex;
    gap: 35px;
}

.header__menu__links {
    color: white;
    text-decoration: underline;
    line-height: 15px;
}

.header__phone__number {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.phone__number__text:before {
    content: url("/resources/src/images/phone.svg");
    position: relative;
    right: 12px;
    top: 10px;

}

.header__block__right {
    display: flex;
}

.phone__number__text {
    color: white;
    font-size: 19px;
}

.header__phone__number {

    padding-right: 10px;
}

.phone__number__btn {
    color: white;
    font-size: 12px;
    text-decoration: underline;
    text-align: start;

}

.phone__number__btn__block {
    display: flex;
    flex-direction: column-reverse;

}

.header__request__btn {
    background-color: rgba(0, 172, 227, 1);
    color: white;
    padding: 13px 32px;
    border-radius: 8px;
    line-height: 17px;

}

.header__request__btn:hover {
    background-color: #0182AB;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo__block {
    display: flex;
    align-items: center;
}


/*Главная страница*/
.intro {
    max-height: 100vh;
    overflow: hidden;
}

.main__intro {
    position: relative;
    padding-bottom: 56.25%;
    height: auto;
    z-index: -5;
}

.main__intro:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.intro__video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.intro__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.intro__title {
    color: white;
    font-weight: 600;
    font-size: 9.7vh;
    padding: 60px;
}

.intro__text {
    color: white;
    font-weight: 600;
    font-size: 3.6vh;
}

.intro__description {
    color: white;
    font-size: 6.6vh;
    line-height: 70px;
    margin-top: 100px;
}

.intro__btn {
    padding: 22px 35px;
    background-color: #FF0041;
    color: white;
    border-radius: 13px;
}

.intro__btn__block:after {
    content: url("/resources/src/images/arow_btn.svg");
    position: relative;
    right: 400px;

}

.intro__btn:hover {
    background-color: rgba(202, 0, 51, 1);
}

/*Наши товары*/
.products__title {
    margin-bottom: 47px;
}

.products__card__text {

    border-radius: 30px;
    -webkit-box-shadow: 2px 13px 16px -7px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 2px 13px 16px -7px rgba(34, 60, 80, 0.2);
    box-shadow: 2px 13px 16px -7px rgba(34, 60, 80, 0.2);
    padding: 0;
}

.card__wrapper {
    display: flex;
    flex-direction: column;
    padding: 50px 60px 0 60px;
}

.card__title {
    font-size: 2.1vh;
    font-weight: 700;
    padding: 30px;
}

.card__links {
    list-style-image: url("/resources/src/images/Ellipse.svg");
    margin: 13px;
}


.card__benefits {
    align-items: flex-end;
    flex: 0 1 auto;
}

.card__grass {
    flex: 0 0 auto;
    position: relative;
    object-fit: cover;
    width: 100%;
}

.card__btn__block{
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}
.card__btn {
    padding: 15px 45px;
    color: white;
    background-color: #FF0041;
    border-radius: 8px;
}
.card__btn:hover{
    background-color: rgba(202, 0, 51, 1);
}


.composition__block{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.composition__wrapper{
    display: none;
    padding: 40px;
    background: #FFFFFF;
    border: 1px solid #ECF4EC;
    border-radius: 10px;
}
.composition__btn__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.composition__title__group{
    display: flex;
    gap: 100px;
    font-weight: 700;
    font-size: 15px;
    padding: 25px 40px;
    background: #FFFFFF;
    border: 1px solid #ECF4EC;
    border-radius: 10px;

}
.composition__text__group{
    display: flex;
    gap: 100px;
    font-weight: 700;
    font-size: 15px;
    padding: 25px 40px;
    background: #FFFFFF;
    border: 1px solid #ECF4EC;
    border-radius: 10px;
}

.composition__text__div{
    display: flex;
    gap: 100px;
    font-weight: 700;
    font-size: 15px;
    padding: 25px 40px;
    background: #FFFFFF;
    border: 1px solid #ECF4EC;
    border-radius: 10px;

}
.composition__text{
    display: flex;
    align-items: flex-end;
    padding: 25px 40px;

}

